#containerA {
    width: 80%;
    margin: auto;
    font-size: 18px;
line-height: 1.58;
}
#ul{
    margin-top: 50px;
    width: fit-content;
    margin-left: 10%;
    
}
#ul>ul>p{
    margin-left: -30%;
   font-size: 18px;
}
#ul a{
    text-decoration: none;
    color: #337ab7;
    font-size: 13px;
    line-height: 18px;
}