*{
    margin: 0px;
    padding: 0px;
}
#containerE{
    border: 1px solid black;
    height: 500px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
}
#containerE h1{
    font-size: 35px;
    font-weight: 200;
}
#eCards{
    width: 97%;
    margin: auto;
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto);
    gap: 30px;
}
#eCards>div{
    border: 1px solid black;
    height: auto;
    padding: 20px;
}
.eNumber{
    height: 5px;
    width: 5px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240,248,255);
    border-radius: 40%;
    margin: 0px 50%;
}