#head{
    margin-left: 8%;
}
#cards{
    /* border: 1px solid red; */
    width: 80%;
    height: auto;
    padding: 10px;
    display:flex;
    margin: auto;
    justify-content: space-between;
    
}
#cards>div{
    border: 1px solid black;
    width: 30%;
    text-align: justify;
    padding: 10px;
    height: fit-content;
}
#cards>div>span{
    margin: auto;

}
.number{
    display: flex;
    justify-content: center;
    width: 20px;
    background-color: aliceblue;
  
    border-radius: 20px;
}
#video{
    /* border: 1px solid black; */
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}
button{
   display: inline-block;
   margin-left: 45%;
   margin-top: 20px;
   color:white;
   border-color: #2e6da4;
   background-color: #337ab7;
   font-weight: normal;
   cursor: pointer;
   border-radius: 5px;
   padding: 10px;

}
#ul{
    /* border: 1px solid black; */
    margin-top: 50px;
    width: fit-content;
    margin-left: 10%;
    
}
#ul>ul>p{
    margin-left: -30%;
   font-size: 20px;
}
a{
    list-style: disc;
    text-decoration: none;
    color: #337ab7;
    font-size: 22px;
}